<div class="section black">
  <div class="container large-top large-bottom">
    <div id="w-node-_9d9f07bd-6189-26b8-232f-a655970ec378-4b19c3a8" class="footer-holder">
      <div id="w-node-_95697d18-bfb3-0d47-8bdc-89304b19c3ab-4b19c3a8" class="footer-left-column">
        <div class="_1-25em-bottom-margin">
          <a href="/" aria-current="page" class="logo-footer-link w-inline-block w--current">
            <img class="logo-footer-image" src="/static/assets/img/Logo-Footer.png" alt="footer KnightWatcher logo"
              aria-label="KnightWatcher logo" loading="eager" srcset="/static/assets/img/Logo-Footer.png" />
          </a>
        </div>
        <p class="footer-small-text">
          Trading in futures, currencies, and options involves substantial risk and may not be suitable for
          everyone. Always trade with risk capital that you can afford to lose. It's recommended to use a trading
          journal to track your progress, identify patterns, and make more informed decisions. Testimonials
          appearing on this website may not be representative of other clients or customers and are not a guarantee
          of future performance or success.
        </p>
      </div>
      <div class="footer-1">
        <div id="w-node-_0b9a291c-a7e6-917b-3094-99c995b31f8d-4b19c3a8" class="footer-1---1">
          <a href="/login" target="_blank" class="footer-link-light _5em-bottom-margin">Log In</a>
          <a href="/" class="footer-link-light _5em-bottom-margin">Pricing</a>
        </div>
        <div id="w-node-_95697d18-bfb3-0d47-8bdc-89304b19c3ba-4b19c3a8" class="footer-1---2">
          <a href="/contact-us" class="footer-link-light _5em-bottom-margin">Contact Us</a>
          <a href="/Privacy-Policies"
            class="footer-link-light _5em-bottom-margin">Privacy Policy</a>
          <a href="/Terms-Conditions"
            class="footer-link-light _5em-bottom-margin">Terms & Conditions</a>
        </div>



       
          
        <div id="w-node-_95697d18-bfb3-0d47-8bdc-89304b19c3c9-4b19c3a8" class="footer-1---3">
          <div class="footer-1---social-links-lockup">
            <a style="background: rgb(230, 230, 230);" href="https://x.com/KnightWatcher20/" target="_blank"
              class="footer---link-block-dark _5em-right-margin w-inline-block">
              <img src="https://img.icons8.com/ios-filled/50/twitterx.png" alt="X (Twitter) Icon">
            </a>
            <a style="background: rgb(230, 230, 230);" href="https://www.instagram.com/real_knightwatcher/" target="_blank"
              class="footer---link-block-dark _5em-right-margin w-inline-block">
              <img src="https://img.icons8.com/ios-filled/50/instagram-new.png" alt="Instagram Icon">
            </a>
            <a style="background: rgb(230, 230, 230);" href="https://www.facebook.com/darkone.dk2" target="_blank"
              class="footer---link-block-dark _5em-right-margin w-inline-block">
              <img src="https://img.icons8.com/ios-filled/50/facebook.png" alt="Facebook Icon">
            </a>
            <a style="background: rgb(230, 230, 230);" href="https://www.tiktok.com/@real_darkone" target="_blank"
              class="footer---link-block-dark w-inline-block">
              <img src="https://img.icons8.com/ios-filled/50/tiktok.png" alt="TikTok Icon">
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>